<div class="todo_list">
    <form class="todo_list_inputs" [formGroup]="formTodo">
        <input  class="todo_list_inputs_input" type="text" placeholder="Adicionar uma nova tarefa" [ngClass]="{'requiredError': showError}" (input)="changeInputValue($event)" formControlName="inputTxt">
        <button (click)="submitTodoList()">{{editIndex == null? 'Criar' : 'Editar'}}</button>
    </form>

    <div class="todo_list_main">
        <div class="todo_list_main_header">
            <div class="todo_list_main_header_tasks">
                <span class="todo_list_main_header_tasks_txt">Tarefas criadas</span>
                <div class="todo_list_main_header_tasks_count">{{todoList.length}}</div>
            </div>
            <div class="todo_list_main_header_done">
                <span class="todo_list_main_header_done_txt">Concluídas</span>
                <div class="todo_list_main_header_done_count">{{todoCheckCount}} de {{todoList.length}}</div>
            </div>
        </div>
        
        <ul class="todo_list_main_list" *ngIf="todoList.length; else empty">
            <li class="todo_list_main_list_item"  *ngFor="let todoItem of todoList; let i = index">
                <label class="custom-checkbox">
                    <input class="" type="checkbox" [checked]="todoItem.checked" (change)="changeTodoCheckbox($event, i, todoItem.txt)">
                    <span></span>
                </label>

                <span class="todo_list_main_list_item_txt"  [ngClass]="{'checked': todoItem.checked}">
                    {{todoItem.txt}}
                </span>
                
                <div class="todo_list_main_list_item_actions">
                    <div class="todo_list_main_list_item_actions_edit" (click)="editTodoList(i, todoItem.txt)">
                        <img src="assets/icons/edit.png" alt="Edit icon">
                    </div>
                
                    <div class="todo_list_main_list_item_actions_delete" (click)="deleteTodoList(i)">
                        <img src="assets/icons/trash.png" alt="Delete icon">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<ng-template #empty>
    <div class="empty">
        <img class="empty_img" src="assets/icons/Clipboard.png" alt="Icon clipboard">
        <span class="empty_title">Você ainda não tem tarefas cadastradas</span>
        <span class="empty_subtitle">Crie tarefas e organize seus itens a fazer</span>
    </div>
</ng-template>
