<div class="todo_list">
    <form class="todo_list_inputs"[formGroup]="formTodo">
        <input type="text" placeholder="Adicionar uma nova tarefa" formControlName='inputTxt'>
        <button (click)="postTodoList()">Criar</button>
    </form>

    <div class="todo_list_main">
        <div class="todo_list_main_header">
            <span class="todo_list_main_header_tasks">Tarefas criadas</span>
            <span class="todo_list_main_header_done">Concluídas</span>
        </div>

        <ul class="todo_list_main_list" *ngIf="todoListCount > 0; else empty">
            <li class="todo_list_main_list_item" *ngFor="let todoItem of todoList">
                <input class="todo_list_main_list_item_checkbox" type="checkbox">
                <span class="todo_list_main_list_item_txt">
                    {{todoItem.txt}}
                </span>
                <div class="todo_list_main_list_item_delete" (click)="deleteTodoList(todoItem.id)">
                    <img src="assets/icons/trash.png" alt="Delete icon">
                </div>
            </li>
        </ul>
    </div>
</div>

<ng-template #empty>
    <div class="empty">
        <img class="empty_img" src="assets/icons/Clipboard.png" alt="Icon clipboard">
        <span class="empty_title">Você ainda não tem tarefas cadastradas</span>
        <span class="empty_subtitle">Crie tarefas e organize seus itens a fazer</span>
    </div>
</ng-template>
