.header {
    height: 14rem;
    display: flex;
    justify-content: center;
    align-content: center;

    @media screen and (max-width: 760px) {
        height: 10rem;
    }
    
    &_content {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    
        &_img {
            display: flex;
            align-items: center;
            width: auto;
            height: 3.6rem;
        }

        &_title {
            font-size: 4rem;
            font-weight: 900;
            color: #4EA8DE;
            
            b{
                color: #5E60CE;
            }
        }
    }
}