<div class="kanban">
    <div class="kanban_header">
        <app-header
        initialTitle="kan"
        finalTitle="ban"
        icon="assets/icons/kanban.png"
        ></app-header>
    </div>
    <div class="kanban_group" cdkDropListGroup>
        <div class="kanban_group_column">
            <div class="kanban_group_column_header">
                Tarefas
                <img src="./assets/icons/plus.png" alt="Icon add tarefa">
            </div>
            <div class="kanban_group_column_body">
                <ul class="kanban_group_column_body_list" cdkDropList [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
                    <li class="kanban_group_column_body_list_item" *ngFor="let item of todo" cdkDrag>
                        <span>{{ item }}</span>
                        <div  class="kanban_group_column_body_list_item_actions">
                            <div class="kanban_group_column_body_list_item_actions_edit">
                                <img src="assets/icons/edit.png" alt="Edit icon">
                            </div>
    
                            <div class="kanban_group_column_body_list_item_actions_delete">
                                <img src="assets/icons/trash.png" alt="Delete icon">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="kanban_group_column">
            <div class="kanban_group_column_header">Em andamento</div>
            <div class="kanban_group_column_body">
                <ul class="kanban_group_column_body_list" cdkDropList [cdkDropListData]="progress" (cdkDropListDropped)="drop($event)">
                    <li class="kanban_group_column_body_list_item" cdkDrag *ngFor="let item of progress">
                        <span>{{ item }}</span>
                        <div  class="kanban_group_column_body_list_item_actions">
                            <div class="kanban_group_column_body_list_item_actions_edit">
                                <img src="assets/icons/edit.png" alt="Edit icon">
                            </div>
    
                            <div class="kanban_group_column_body_list_item_actions_delete">
                                <img src="assets/icons/trash.png" alt="Delete icon">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="kanban_group_column">
            <div class="kanban_group_column_header">Concluídas</div>
            <div class="kanban_group_column_body">
                <ul class="kanban_group_column_body_list" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
                    <li class="kanban_group_column_body_list_item" *ngFor="let item of done" cdkDrag>
                        <span>{{ item }}</span>
                        <div  class="kanban_group_column_body_list_item_actions">
                            <div class="kanban_group_column_body_list_item_actions_edit">
                                <img src="assets/icons/edit.png" alt="Edit icon">
                            </div>
    
                            <div class="kanban_group_column_body_list_item_actions_delete">
                                <img src="assets/icons/trash.png" alt="Delete icon">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>